.bin_btn
	position:relative
	display:block
	margin-left:auto
	margin-right:auto
	padding-left:14px
	padding-right:14px
	box-sizing:border-box
	font-size:18px
	text-align:center
	text-decoration:none
	color:#fff
	line-height:2.33333333
	border-radius:5px
	-webkit-tap-highlight-color:rgba(0,0,0,0)
	overflow:hidden

.bin_btn_success
	color:#04be02
	border:1px solid #57b257

.bin_btn_success:active
	border-color:#039702
	color:#039702

.bin_btn_primary
	color:#04be02
	border-color:#3e86c3

.bin_btn_bgsuccess
	background-color:#58b358

.bin_btn_bgsuccess:active
	background-color:#4ca64c
	color:#e6e6e6
	
.bin_btn_bgprimary
	background-color:#3e86c3
	
.bin_btn_bgprimary:active
	background-color:#2d70aa
	color:#e6e6e6

.bin_btn_bgblue
	background-color:#53bcdc

.bin_btn_bgblue:active
	background-color:#44abcb
	color:#e6e6e6

.bin_btn_default
	border:1px solid #5a5a5a
	color:#5a5a5a	

.bin_btn_primary
	background-color:#04be02
	
.bin_btn_disabled
	color:hsla(0,0%,100%,.6)
	
.bin_btn_bgwarning
	background-color:#efa946

.bin_btn_bgwarning:active
	background-color:#df9937
	color:#e6e6e6

.bin_btn_bgdanger
	background-color:#d54d49
	
.bin_btn_bgdanger:active
	background-color:#c7413d
	color:#e6e6e6
	
.bin_btn_bgdefault
	background-color:#e8e8e8
	color:#272727
	border:1px solid #e0dfdf

.bin_btn_bgdefault:active
	background-color:#e0dfdf
	color:#1f1f1f

.bin_btn_disabled
	pointer-events:none