.bin_display_flex
    display: flex
   
.bin_flex_1
	flex:1
	
.bin_flex_2
	flex:2
	
.bin_flex_3
	flex:3
	
.bin_flex_4
	flex:4
	
.bin_flex_5
	flex:5
	
.bin_flex_wrap
	flex-wrap:wrap
	
.bin_flex_center
	justify-content:center
	
.bin_flex_sider
	justify-content:space-between
	
.bin_flex_around
	justify-content:space-around